.btn {
    cursor: pointer;
    display: block;
    padding: 1rem 2rem;
    margin: 1rem;
    text-decoration: none;
    color: #fff;
    background: #747474;
    border-bottom: solid 2px #5a5a5a;
    border-radius: 8px;
    box-shadow: inset 0 2px 0 #ffffff33, 0 2px 2px #00000030;
    font-weight: bold;
    @include breakpoint {
      margin: 1rem 2rem;
    }
  
    :active {
      border-bottom: solid 3px #242424;
      box-shadow: 0 0 2px #0000004d;
    }

    &-answer {
      @extend .btn;
      margin: .8rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
    }
  
    &-em {
      @extend .btn;
      background-color: #3f93c4;
      border-bottom: solid 2px #236083;
      margin: 1rem auto;
      width: 70%;
    }

    &-start {
      @extend .btn-em;
      width: 15%;
      @include breakpoint {
        margin: 1rem;
      }
    }
  
    &_box {
      width: 90%;
      margin: 0 auto .8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &_border {
      @extend .btn;
      width: 80px;
      margin: 1.4rem auto;
      background-color: inherit;
      border: solid 2px #fff;
    }
  }