  
  .container {
    display: flex;
    height: 60px;
    align-items: center;
  }
  
  .left-side {
    flex: 1;
    align-items: center;
  }
  
  .text {
    text-align: center;
    margin-top: 0.4rem;
  }
  
  
  .center-contents {
    flex: 8;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center
  }
  
  .right-side {
    flex: 1;
  }
  
  
  .progress-bar {
    background-color: #bbb;
    height: 50%;
    width: 100%;
    border-radius: 20px;
  }
  
  .progress-bar-done {
    height: 100%;
    border-radius: 20px;
    &_v {
      @extend .progress-bar-done;
      background-color: #7bece6;
    }
    &_p {
      @extend .progress-bar-done;
      background-color: #ec7bd4;
    }
    &_w {
      @extend .progress-bar-done;
      background-color: #ecb77b;
    }
  }