 .top-logo_ {
    &flex {
      display: flex;
      align-items: center;
      justify-content: space-around;
  
      @include breakpoint {
        justify-content: center;
      }
    }
  
    &item {
      width: 27%;
  
      @include breakpoint {
        width: auto;
      }
    }
  }
  