.static_ {
    &title {
        color: #ffee77;
        font-size: 1.4rem;
        margin: 0 auto .7rem;
        @include breakpoint {
            font-size: 2rem;
        }
    }
    &statement {
        @extend .static_title;
        color: #fff;
        font-size: 1rem;
        letter-spacing: 2px;
        &_box {
            width: 80%;
            margin: .7rem auto 1.4rem;
        }
        &_strong {
            color: #ffbbff;
        }
    }
    &text {
        width: 80%;
        margin: 0 auto .8rem;
        font-size: 1rem;
        color: #ffbbff;
        padding-bottom: 0.3rem;
        border-bottom: 2px solid #ffbbff;
    }
    &item {
        padding: 1.8rem;
        border: 3px dotted #fff;
        border-radius: 20px;
        margin: 0 1rem 1rem;
        white-space: pre-wrap;
        @include breakpoint {
            margin: 0 2rem 1rem;
        }
        &_title {
            margin-bottom: 0.7rem;
            font-size: 1.1rem;
            @include breakpoint {
                font-size: 1.7rem;
            }
        }
        &_desc {
            font-size: 0.8rem;
        }
    }
}