@import './reset.scss';
@import './routeTransition.scss';
@import './questionsTransition.scss';
@import './fonts/TanukiMagic.ttf';


$breakpoint: 400px;

@mixin breakpoint {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@font-face {
  font-family: 'blackBoard';
  src: local('blackBoard'), url(./fonts/TanukiMagic.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: blackBoard, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #bbded8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

header {
  height: 40px;
  padding: .2rem;
  background-color: #7c7c7c;
  .labo-logo {
    width: 30%;
    max-width: 160px;
    margin: 0 1rem 1rem;
  }
}

.base_box {
  background-color: #19452d;
  width: 100%;
  padding-top: 0.5rem;
  margin: 0 auto;
  border-bottom: 10px solid #c9bc9c;
}

.top-logo_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include breakpoint {
      justify-content: center;
    }
}


.btn {
  cursor: pointer;
  display: inline-block;
  padding: .8rem .7rem;
  text-decoration: none;
  color: #FFF;
  background: #7c7c7c;/*背景色*/
  border-bottom: solid 2px #5a5a5a;/*少し濃い目の色に*/
  border-radius: 8px;/*角の丸み*/
  box-shadow: inset 0 2px 0 #ffffff33, 0 2px 2px #00000030;
  font-weight: bold;
  @include breakpoint {
    margin: 0 2rem;
  }
  :active {
    border-bottom: solid 3px #7c7c7c;
  box-shadow: 0 0 2px #0000004d;
  }
  &_box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
  }
}

.sec-img {
  width: 60%;
  margin: 0 auto;
}