@mixin breakpoint {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@import './styles/reset.scss';
@import './styles/btn.scss';
@import './styles/routeTransition.scss';
@import './styles/questionsTransition.scss';
@import './styles/start.scss';
@import './styles/static.scss';
@import './styles/sectop.scss';
@import './styles/form.scss';
@import './styles/wait.scss';
@import './styles/result.scss';
@import './styles/card.scss';
@import './styles/progressbar.scss';

@font-face {
  font-family: 'blackBoard';
  src: local('blackBoard'), url(./fonts/TanukiMagic.woff2) format('woff2');
  font-display: swap;
}

body {
  margin: 0;
  font-family: blackBoard, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  box-sizing: border-box;
}

header {
  height: 40px;
  padding: .2rem;
  background-color: #747474;

  img {
    max-width: 150px;
    margin: 0 1rem 1rem;
  }
}

.base_box {
  background-color: #19452d;
  width: 100%;
  height: auto;
  padding-top: 0.5rem;
  margin: 0 auto;
  border-bottom: 10px solid #c9bc9c;
}

.err-{
  &title {
    font-size: 3rem;
  }
  &text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}