.flip {
    &-card {
      position: relative;
      transform-style: preserve-3d;
      &_id {
        padding: 0.5em;
        }
      &_title {
        width: 80%;
        margin: .4em auto;
        font-size: 1.4em;
        }
      }
  }
  